.cid-rU8RJnzHx1 {
  .navbar-dropdown {
    padding-left: 24px;
    padding-right: 24px;
  }
  .navbar .navbar-collapse {
    justify-content: flex-end;
  }

  .nav-link {
    font-weight: 400!important;
  }
}

.mbr-section-btn a.btn:not(.btn-form) {
  font-weight: normal;
  padding: 10px 24px;
}

.cid-rU8R9b0gWh .box-item:last-child {
  background-color: #303030;
}

