body {
  background: #eeeeee;
}

.cid-rU8RJnzHx1 {
  .navbar-dropdown {
    padding-left: 24px;
    padding-right: 24px;
  }
  .navbar .navbar-collapse {
    justify-content: flex-end;
  }

  .nav-link {
    font-weight: 400!important;
  }
}

.cid-rU8O0b3nHD {
  .card-title2 {
    font-size: 24px;
    margin-bottom: 16px;
  }
}

.section-inner {
  .cid-rU8O0b3nHD {
    padding: 0;
    background-color: transparent;
  }
}

.mbr-section-btn a.btn:not(.btn-form) {
  font-weight: normal;
  padding: 10px 24px;
}

.cid-rU8R9b0gWh .box-item:last-child {
  background-color: #303030;
}

.custom-container {
  max-width: 1000px;
  margin: 0 auto;
}

.section-inner {
  padding: 120px 16px;

  &.form {
    .section-inner-title {
      text-align: center;
    }
  }
}

.section-inner-title {
  h2 {
    font-size: 24px;
  }
}

.cid-rU8O0b3nHD .text-box p.list-description {
  margin-top: 16px;
  color: #656565;
}

.cid-rU8O0b3nHD .card-wrapper {
  background: #fff;
}

.cid-rU8OsMVaLa {
  background-color: #767676;
}

.cid-rU8OsMVaLa .text-copyright {
  font-size: 16px;
}

//FormUI
.add-service-form {
  background: #fff;
  border-radius: 8px;
  padding: 32px 40px;
  max-width: 480px;
  margin: 24px auto 0;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 8px;
  outline: none;
  color: #333;
  font-size: 16px;
  background-clip: padding-box;
}

.form-group {
  &.required {
    label {
      &:after {
        content: '*';
        display: inline-block;
        color: red;
      }
    }
  }
  label {
    font-size: 16px;
    color: #838383;
    display: inline-block;
    margin-bottom: 4px;
  }

  h3 {
    margin: 32px 0 10px;
    font-size: 18px;
    color: #4b4b4b;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
}

.form-submit {
  margin-top: 40px;

  .btn {
    margin: 0;
    border-radius: 30px;
    padding: 14px 24px;
    min-width: 200px;
    text-transform: uppercase;
  }
}

.form-group-list {
  margin-bottom: 1rem;
}

