<footer class="extFooter cid-rU8OsMVaLa" id="extFooter11-6">
    <div class="container">
        <div class="media-container-row">
            <div class="col-md-4 col-lg-4 logo-footer mb-3 mt-3 align-center">
                <p class="text-logo-footer mbr-fonts-style mb-0 display-5">BooqNow</p>
            </div>
            <div class="col-md-4 col-lg-5 copyright mb-3 mt-3">
                <p class="mb-0 text-copyright mbr-fonts-style display-7">
                    © Copyright 2020 BooqNow - All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</footer>
