<section class="extHeader cid-rU8R9b0gWh" id="extHeader9-8">
    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(255, 255, 255);"></div>
    <div class="container">
        <div class="media-container-row">
            <div class="mb-4 content-container" style="width: 100%;">
                <h1 class="mbr-section-title pb-3 mbr-fonts-style display-1">
                    Welcome to <strong>{{ .Site.Title }}!</strong>
                </h1>
                {{ with .Site.Data.hero }}
                <p class="mbr-text pb-3 mbr-fonts-style display-5">
                    {{ with .line1 }}
                    {{ . | safeHTML }} <br><br>
                    {{ end }}

                    {{ with .line2 }}
                    {{ . | safeHTML }} <br>
                    {{ end }}
                </p>
                {{ end }}
                <div class="mbr-section-btn pb-5">
                    <a class="btn btn-md btn-primary btn-bgr display-5" href="/add-service">
                        <span class="mbrib-rocket mbr-iconfont mbr-iconfont-btn"></span> ADD / UPDATE SERVICES</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-boxes mbr-white">
        {{ range .Site.Data.whattodo.services }}
        <div class="box-item">
            <div class="icon-block-top pb-4">
                <span class="mbr-iconfont {{ .icon }} display-2"></span>
            </div>
            <h4 class="box-item-title pb-3 mbr-fonts-style display-5">{{ .title | safeHTML }}</h4>
            <p class="box-item-text mbr-fonts-style display-7">{{ .description | safeHTML }}</p>
        </div>
        {{ end }}
    </div>
</section>
