{{ define "main" }}
<section class="section-inner form">
    <div class="custom-container">
        <div class="section-inner-title">
            <h2>Add / Update Service</h2>
            <p>Add new service or post updated information of existing service that is already listed here.</p>
        </div>
        <div class="add-service-form">
            <form name="contact" method="POST" data-netlify="true">
                <div class="form-group required">
                    <label>Service Title</label>
                    <input type="text" name="name" required />
                </div>

                <div class="form-group required">
                    <label>Decribe a bit about service</label>
                    <textarea name="detail" id="" cols="30" rows="5" required></textarea>
                </div>

                <div class="form-group">
                    <label>Link to the photo of service</label>
                    <input type="text" name="photo" />
                </div>

                <div class="form-group required">
                    <label>Service Location</label>
                    <input type="text" name="location" required />
                </div>

                <div class="form-group">
                    <h3>Contact Details</h3>

                    <div class="form-group-inner">
                        <div class="form-group-list">
                            <label>Phone</label>
                            <input type="number" name="phone" />
                        </div>
                        <div class="form-group-list">
                            <label>Website</label>
                            <input type="text" name="website" />
                        </div>
                        <div class="form-group-list">
                            <label>Facebook Page/Group Link</label>
                            <input type="text" name="facebook" />
                        </div>
                        <div class="form-group-list">
                            <label>Email</label>
                            <input type="email" name="email" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Delivery Available ?</label>
                    <select name="delivery[]">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                </div>

                <div class="form-submit text-center">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>
{{ end }}
