{{ define "main" }}
<section class="section-inner">
    <div class="custom-container">
        <div class="section-inner-title">
            <h2>Service Listings</h2>
        </div>
        <div class="cid-rU8O0b3nHD">
            <div class="row row-content">
                <div class="card p-3 col-12 col-md-6 col-lg-4">
                    <div class="card-wrapper">
                        <div class="text-box">
                            <h4 class="card-title2 mbr-fonts-style mbr-normal display-7">Dalle Restaurant</h4>
                            <div class="ico-box">
                                <span class="pr-2 mbr-iconfont mbr-iconfont-social ico2 mbri-pin"></span>
                                <p class="mbr-text mbr-fonts-style phone mbr-normal display-4">Kumaripati, Lalitpur</p>
                            </div>
                            <p class="list-description">This is description</p>
                        </div>
                        <div class="p-box">
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-4">
                                Restaurant
                            </p>
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-4">
                                <span>Yes</span> Delivery
                            </p>
                        </div>
                        <div class="ico-wrap">
                            <div class="ico-box">
                                <span class="px-2 mbr-iconfont mbr-iconfont-social ico2 mbri-user"></span>
                                <p class="mbr-text mbr-fonts-style phone mbr-normal display-4">
                                    Phone No here
                                </p>
                            </div>

                            <div class="ico-box">
                                <span class="px-2 mbr-iconfont mbr-iconfont-social ico2 mbri-calendar"></span>
                                <p class="mbr-text pr-2 mbr-fonts-style phone mbr-normal display-4">Website Here</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
